html{
	font-size: clamp(0.5rem,1vw,1rem);
	transition: all 300ms ease-in-out;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  width: 0px;
}

body{
	margin:0;
	padding: 0;
	font-family: 'Montserrat';
}
#join{
	margin:5em 30%;
	text-align:center;
}

#join h1{
	margin: 0;
	font-size: 2em;
}

#join h2{
	margin: 0;
	font-size: 1.5em;
}

#join input{
	width:100%;
	border-top:none;
	border-left: none;
	border-right: none;
	outline: none;
	font-size: 1.2em;
	margin: 1em 0;
	text-align:center;
	height: 2em;
	background-color:#eee;
	border-radius: 3px 3px 0 0;
}

#join input:focus{
	border-color: orange;
}

#join button{
	border:none;
	outline:none;
	font-size:1em;
	padding: 0.5em 1em;
	border-radius: 3px;
	cursor: pointer;
	background-color:#ddd;
	font-family: 'Montserrat';
}
#join button:hover{
	background-color:#bbb;
	color:white;
}

#join ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#join ul li{
	font-size: 2em;
	background-color: #eee;
	border-radius: 1em;
	margin: 1em;
}

#join ul li:nth-child(n+3){
	padding: 2em;
	cursor: pointer;
}

.activeLobby{
	background-color: #ccc;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.5em 0;
	cursor: pointer;
}

.activeLobby:hover{
	background-color: #aaa;
}

summary{
	padding: 2em;
	cursor: pointer;
}

details p:nth-child(n+1){
	padding: 0 2em 2em 2em;
	margin: 0;
}
details summary::-webkit-details-marker {
	display:none;
}

details > summary {
  list-style: none;
}

#join ul li:hover{
	background-color: #888;
}

#waiting{
	text-align:center;
	padding: 5em;
	margin: auto;
    width: fit-content;
	height: -webkit-fill-available;
}

#waiting h1{
	border-bottom-style: double;
}

#waitingButtons button{
	border:none;
	outline:none;
	font-size:0.75em;
	padding: 0.5em 1em;
	cursor: pointer;
	background-color:#ddd;
	font-family: 'Montserrat';
	margin-right: 0.5em;
	border-radius: 3px;
}

#waitingButtons button:hover{
	background-color:#bbb;
	color:white;
}

#waitingPlayers{
	font-weight:bolder;
	list-style-type: none;
	font-size:2em;
	padding: 0;
	width: fit-content;
    margin: auto;
}
#waitingButtons{
	border-radius: 3px;
    margin: auto;
    width: fit-content;
}

#chat{
	width: 20%;
    float: right;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
	z-index: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#inputChat{
	width: 100%;
    border: none;
    padding: 0;
    height: 2em;
	font-size: 1em;
    background-color: #ddd;
    outline: none;
    bottom: 0;
    position: absolute;
}

#chat #output{
	width: 100%;
    height: -webkit-fill-available;
    padding: 0 0 2em 0;
    margin: 0 0 0 0.5em;
	list-style-type:none;
	overflow-y: scroll;
	font-size: 1.25em;
}

#settingsDIV{
	z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
	text-align: center;
}

#settingsDIV #settingsList{
	padding: 0;
    list-style-type: none;
    margin: 0 30%;
	font-size: 1.5em;
	text-align: left;
}

#settingsDIV #settingsList li{
	border-bottom: 1px solid #CCC;
}
#settingsDIV #settingsList .right{
	position: absolute;
    right: 30%;
}

#settingsButtons{
	font-size:1.5em;
	bottom:0;
	border-radius: 3px;
	width: fit-content;
    margin: 2em auto;
}
#settingsButtons button{
	border:none;
	outline:none;
	font-size:0.75em;
	padding: 0.5em 1em;
	cursor: pointer;
	background-color:#ddd;
	font-family: 'Montserrat';
}

#settingsButtons button:nth-child(2){
	border-left: solid 1px #888;
	border-right: solid 1px #888;
	color:white;
}

#settingsButtons button:nth-child(2).private{
	background-color: green;
}

#settingsButtons button:nth-child(2).public{
	background-color: red;
}

#settingsButtons button:last-child{
	border-radius:0 0.5em 0.5em 0;
}

#settingsButtons button:first-child{
	border-radius:0.5em 0 0 0.5em;
}

#settingsButtons button:hover{
	background-color:#bbb;
	color:white;
}

#uploadcontainer{
	width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCC;
    margin: 1em auto 1em auto;
    border: 1px black dashed;
    padding: 0;
    text-align: center;
}

#uploadcontainer legend{
	font-weight: bold;
}

.player{
	color:white;
}

#headertable{
	width: 100%;
    padding: 1em;
    z-index: 5;
}

.player{
	border-radius: 5px;
	padding: 1em;
	text-align: center;
	
}
#q{
	width: 80%;
    background-color: lightblue;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 3em 0;
	border-radius: 0 5px 5px 0;
}
#a{
    list-style-type: none;
    font-size: 1.5em;
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
}

#a li{
	margin: 1em;
    background-color: darkseagreen;
    border-radius: 5px;
    padding: 2em;
    float: left;
}
#a li:hover{
	cursor:pointer;
}

#timer{
	position: fixed;
    bottom: 1em;
    left: 1em;
    width: 3em;
    font-size: 4em;
	height:3em;
    text-align: center;
	background-color: rgb(0,255,0);
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bolder;
	border-radius:50%;
}

#lobbyidcontainer{
	font-size: 0.75em;
    display: initial;
    padding: 0.5em 0;
    border-radius: 0.5em;
}

#lobbyid{
	color: red;
    background-color: #eee;
    padding: 0.5em;
    margin: 0;
    border-radius: 0.5em 0 0 0.5em;
}

#lobbyidcontainer button{
	border-radius:0 0.5em 0.5em 0;
	font-size: 1em;
	margin: 0;
}